<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <title>Techlicious | Category </title>
  
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon.ico/manifest.json">
    <link rel="shortcut icon" href="/assets/img/favicon.ico/favicon.ico">
  
  
    <!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/assets/css/tailwind.min.css">
  <link rel="stylesheet" href="/assets/css/vendors.min.css">
  <link rel="stylesheet" href="/assets/css/main.min.css">

 

</head>


<body class="leading-normal tracking-normal text-black bg-white">


<!-- advertisment section -->
<div class="flex justify-center items-center pb-2 pt-3 full">
	<a href="#"> 
	<img src="/assets/img/placeholder.png" alt="placeholder">
	</a>
</div>

<!--Nav-->
<nav id="header" class="w-full text-white bg-black">

	<div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
			
		<div class="flex items-center">
			<a href="#"> 
			<img src="/assets/img/techlicious_top_logo.svg" alt="techlicious_top_logo" class="top-logo">
			</a>
		</div>

		<div class="flex items-center lg:hidden">
			<a href="#" class="mr-4 mt-1">
				<img src="/assets/img/magnifier-tool.svg" alt="">
			</a>
			<button id="nav-toggle" class="flex items-center text-white">
				<svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Home</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
			</button>
		</div>

		<div class="w-full lg:flex items-center lg:w-auto hidden lg:block  mb-0 md:mb-4 xl:mb-0 bg-black lg:bg-transparent text-white z-20" id="nav-content">
			<ul class="list-reset flex justify-center flex-col lg:flex-row lg:justify-end flex-1 items-center lg:mr-12 mt-16 lg:mt-0">
				<li>
					<a class="inline-block py-2 px-4 text-white hover:underline text-xl lg:text-base active" href="#">News</a>
				</li>
				<li>
					<a class="inline-block py-2 px-4 text-white hover:underline text-xl lg:text-base" href="#">Reviews</a>
				</li>
				<li>
					<a class="inline-block py-2 px-4 text-white hover:underline text-xl lg:text-base" href="#">Top picks</a>
				</li>
				<li>
					<a class="inline-block py-2 px-4 text-white hover:underline text-xl lg:text-base" href="#">How-to</a>
				</li>
				<li>
					<a class="inline-block py-2 px-4 text-white hover:underline text-xl lg:text-base" href="#">Deals</a>
				</li>
				<li>
					<a class="inline-block py-2 px-4 text-white hover:underline text-xl lg:text-base" href="#">Browse topics</a>
				</li>
				<li class="ml-2 mt-2 hidden lg:block">
					<a href="#">
						<img src="/assets/img/magnifier-tool.svg" alt="">
					</a>
				</li>
				
			</ul>
			
			<button id="subscribe" class="bg-transparent text-base hover:bg-blue text-blue uppercase hover:text-white py-3 px-16 border border-blue hover:border-transparent mt-16 lg:mt-0 flex mx-auto">Subscribe</button>
			<div class="flex justify-center my-10 lg:my-0 lg:hidden">
					<a href="#" class="ml-4 hover:opacity-75">
						<img src="/assets/img/facebook.svg" alt="">
					</a>
					<a href="#" class="ml-4 hover:opacity-75">
						<img src="/assets/img/linkedin-letters.svg" alt="">
					</a>
					<a href="#" class="ml-4 hover:opacity-75">
						<img src="/assets/img/twitter-logo-silhouette.svg" alt="">
					</a>
					<a href="#" class="ml-4 hover:opacity-75">
						<img src="/assets/img/youtube.svg" alt="">
					</a>
					<a href="#" class="ml-4 hover:opacity-75">
						<img src="/assets/img/pinterest.svg" alt="">
					</a>
				</div>
		</div>
	</div>
	
	
</nav>




<!--Hero desctop -->
<div class="slider-cont">
<div class="category-carousel mb-12 relative relative">
    <div class="w-full relative bg-center  bg-no-repeat bg-cover" style="background-image: url('/assets/img/slider-placeholder.jpg')">
        <div class="container mx-auto flex md:flex-row items-center jusify-between">
            <div class="flex flex-col w-full justify-center items-start text-center md:text-left text-white  pt-44 pb-16 zoom">
                <h1 class="my-4 text-5xl leading-tight font-medium tracking-tighter">23 Free Apps <br>to Save You Time</h1>
                <p class="leading-normal text-2xl mb-4 md:w-1/2">Try these 23 free apps to increase your productivity and make your life easier.</p>
                <a href="#" class="text-blue font-medium text-sm flex items-center uppercase hover:underline">Read story
                    <img src="/assets/img/triangle.svg" alt="triangle.svg" class="mt-1">
                </a>
            </div>
        </div>
    </div>
    <div class="w-full relative bg-center  bg-no-repeat bg-cover" style="background-image: url('/assets/img/slider-placeholder.jpg')">
        <div class="container mx-auto flex md:flex-row items-center jusify-between">
            <div class="flex flex-col w-full justify-center items-start text-center md:text-left text-white  pt-44 pb-16 zoom">
                <h1 class="my-4 text-5xl leading-tight font-medium tracking-tighter">24 Free Apps <br>to Save You Time</h1>
                <p class="leading-normal text-2xl mb-4 md:w-1/2">Try these 23 free apps to increase your productivity and make your life easier.</p>
                <a href="#" class="text-blue font-medium text-sm flex items-center uppercase hover:underline">Read story
                    <img src="/assets/img/triangle.svg" alt="triangle.svg" class="mt-1">
                </a>
            </div>
        </div>
    </div>
    <div class="w-full relative bg-center  bg-no-repeat bg-cover" style="background-image: url('/assets/img/slider-placeholder.jpg')">
        <div class="container mx-auto flex md:flex-row items-center jusify-between">
            <div class="flex flex-col w-full justify-center items-start text-center md:text-left text-white  pt-44 pb-16 zoom">
                <h1 class="my-4 text-5xl leading-tight font-medium tracking-tighter">25 Free Apps <br>to Save You Time</h1>
                <p class="leading-normal text-2xl mb-4 md:w-1/2">Try these 23 free apps to increase your productivity and make your life easier.</p>
                <a href="#" class="text-blue font-medium text-sm flex items-center uppercase hover:underline">Read story
                    <img src="/assets/img/triangle.svg" alt="triangle.svg" class="mt-1">
                </a>
            </div>
        </div>
    </div>

      
</div>
<div class="custom-nav">
        <button data-nav="0" tabindex="0" aria-selected="true" aria-controls="tns1-item0" type="button" class="tns-nav-active"></button>
        <button data-nav="1" tabindex="-1" aria-selected="false" aria-controls="tns1-item1" type="button" class="" ></button>
        <button data-nav="2" tabindex="-1" aria-selected="false" aria-controls="tns1-item2" type="button" class="" ></button>
</div>  
</div>
   
    <!-- advertisment section -->
    <div class="flex justify-center items-center pb-12 w-full">
        <a href="#"> 
        <img src="/assets/img/placeholder-2.jpg" alt="placeholder">
        </a>
    </div>

<!-- articles -->
<section class="mb-16 md:mb-24">
    <div class="container mx-auto flex flex-wrap  justify-between">
            <p class="text-blue text-2xl font-bold uppercase">Reviews by Topic</p>


            <div class="flex justify-between flex-wrap w-full">
                <!--review-->
                <div class="w-full md:w-30 flex flex-col flex-shrink mb-11">
                    <a href="#" class="hover-blue-overlay">
                    <img class="w-full flex" src="/assets/img/walmart.jpg" alt="Sunset in the mountains">
                    </a>
                    <a href="#"><h3 class="text-base text-black hover:underline pointer font-bold leading-tight my-4 uppercase">Photos & Cameras</h3></a>
                </div>
                <!--review-->
                <div class="w-full md:w-30 flex flex-col flex-shrink mb-11">
                    <a href="#" class="hover-blue-overlay">
                    <img class="w-full flex" src="/assets/img/category-img.png" alt="Sunset in the mountains">
                    </a>
                    <a href="#"><h3 class="text-base text-black hover:underline pointer font-bold leading-tight my-4 uppercase">Photos & Cameras</h3></a>
                </div>
                    <!--review-->
                <div class="w-full md:w-30 flex flex-col flex-shrink mb-11">
                    <a href="#" class="hover-blue-overlay">
                    <img class="w-full flex" src="/assets/img/category-img.png" alt="Sunset in the mountains">
                    </a>
                    <a href="#"><h3 class="text-base text-black hover:underline pointer font-bold leading-tight my-4 uppercase">Photos & Cameras</h3></a>
                </div>
                  <!--review-->
                  <div class="w-full md:w-30 flex flex-col flex-shrink mb-11">
                        <a href="#" class="hover-blue-overlay">
                        <img class="w-full flex" src="/assets/img/walmart.jpg" alt="Sunset in the mountains">
                        </a>
                        <a href="#"><h3 class="text-base text-black hover:underline pointer font-bold leading-tight my-4 uppercase">Photos & Cameras</h3></a>
                    </div>
                    <!--review-->
                    <div class="w-full md:w-30 flex flex-col flex-shrink mb-11">
                        <a href="#" class="hover-blue-overlay">
                        <img class="w-full flex" src="/assets/img/category-img.png" alt="Sunset in the mountains">
                        </a>
                        <a href="#"><h3 class="text-base text-black hover:underline pointer font-bold leading-tight my-4 uppercase">Photos & Cameras</h3></a>
                    </div>
                        <!--review-->
                    <div class="w-full md:w-30 flex flex-col flex-shrink mb-11">
                        <a href="#" class="hover-blue-overlay">
                        <img class="w-full flex" src="/assets/img/category-img.png" alt="Sunset in the mountains">
                        </a>
                        <a href="#"><h3 class="text-base text-black hover:underline pointer font-bold leading-tight my-4 uppercase">Photos & Cameras</h3></a>
                    </div>
                
            </div>
        
    </div>



	<div class="container mx-auto flex flex-wrap  justify-between">


    <p class="text-blue text-2xl font-bold uppercase">Latest Reviews</p>
    <div class="flex justify-between flex-wrap w-full">
		<!--article  with rating-->
		<div class="w-full md:w-30 flex flex-col flex-shrink mb-11">
				<a href="#" class="hover-blue-overlay">
			<img class="w-full flex" src="/assets/img/christian-wiediger.jpg" alt="Sunset in the mountains">
			</a>
			<a href="#"><h3 class="text-2xl text-black hover:underline pointer font-bold leading-tight my-4">Google Maps Can Now Warn You When Your Bus Is Overcrowded</h3></a>
			<!-- rating stars -->
			<div class="raiting flex -mt-1  mb-5">
				<!-- rate filled -->
			<img src="/assets/img/star-filled.svg" alt="" class="relative mr-3">
			<img src="/assets/img/star-filled.svg" alt="" class="relative mr-3">
			<img src="/assets/img/star-filled.svg" alt="" class="relative mr-3">
			<img src="/assets/img/star-filled.svg" alt="" class="relative mr-3">
			<img src="/assets/img/star-filled.svg" alt="" class="relative mr-3">
			</div>
			<p class="mb-4">You can now plan ahead with Google Maps to find out how crowded the train or bus will be when traveling. </p>
			<span class="text-grey-light mb-4 relative inline-block grey-line">by Elizabeth Harper</span>
				<a href="#" class="text-blue font-medium text-sm flex items-center uppercase hover:underline">Read story
					<img src="/assets/img/triangle.svg" alt="triangle.svg" class="mt-1">
				</a>
		</div>
		
		<!--article  with rating-->
		<div class="w-full md:w-30 flex flex-col flex-shrink mb-11">
			<a href="#" class="hover-blue-overlay">
			<img class="w-full flex" src="/assets/img/maps.jpg" alt="Sunset in the mountains">
			</a>
			<a href="#"><h3 class="text-2xl text-black hover:underline pointer font-bold leading-tight my-4">Google Maps Can Now Warn You When Your Bus Is Overcrowded</h3></a>
			<!-- rating stars -->
			<div class="raiting flex -mt-1  mb-5">
			<!-- rate filled -->
			<img src="/assets/img/star-filled.svg" alt="" class="relative mr-3">
			<img src="/assets/img/star-filled.svg" alt="" class="relative mr-3">
				<!-- rate not filled -->
			<img src="/assets/img/star-empty.svg" alt="" class="relative mr-3">
			<img src="/assets/img/star-empty.svg" alt="" class="relative mr-3">
			<img src="/assets/img/star-empty.svg" alt="" class="relative mr-3">
			</div>
			<p class="mb-4">You can now plan ahead with Google Maps to find out how crowded the train or bus will be when traveling. </p>
			<span class="text-grey-light mb-4 relative inline-block grey-line">by Elizabeth Harper</span>
				<a href="#" class="text-blue font-medium text-sm flex items-center uppercase hover:underline">Read story
					<img src="/assets/img/triangle.svg" alt="triangle.svg" class="mt-1">
				</a>
		</div>

		<!--article  with rating-->
		<div class="w-full md:w-30 flex flex-col flex-shrink mb-11">
			<a href="#" class="hover-blue-overlay">
			<img class="w-full flex" src="/assets/img/walmart.jpg" alt="Sunset in the mountains">
			</a>
			<a href="#"><h3 class="text-2xl text-black hover:underline pointer font-bold leading-tight my-4">Google Maps Can Now Warn You When Your Bus Is Overcrowded</h3></a>
			<!-- rating stars -->
			<div class="raiting flex -mt-1  mb-5">
				<!-- rate filled -->
			<img src="/assets/img/star-filled.svg" alt="" class="relative mr-3">
			<img src="/assets/img/star-filled.svg" alt="" class="relative mr-3">
			<img src="/assets/img/star-filled.svg" alt="" class="relative mr-3">
				<!-- rate not filled -->
			<img src="/assets/img/star-empty.svg" alt="" class="relative mr-3">
			<img src="/assets/img/star-empty.svg" alt="" class="relative mr-3">
			</div>
			<p class="mb-4">You can now plan ahead with Google Maps to find out how crowded the train or bus will be when traveling. </p>
			<span class="text-grey-light mb-4 relative inline-block grey-line">by Elizabeth Harper</span>
				<a href="#" class="text-blue font-medium text-sm flex items-center uppercase hover:underline">Read story
					<img src="/assets/img/triangle.svg" alt="triangle.svg" class="mt-1">
				</a>
		</div>
		
	</div>
		
</div>
</section>







<!--Footer-->
<footer>
	<div class="bg-black border-b border-grey-darkest w-full">
	<div class="container mx-auto">

        <div class="w-full flex flex-col-reverse md:flex-row text-white py-12">
			
			<div class="flex flex-col w-full md:w-2/3 mt-8 md:mt-0">
				<a href="#"> 
				<img src="/assets/img/techlicious_top_logo.svg" alt="techliciou_logo" >
				</a>
				<p class="mt-8 w-full md:w-3/4  text-xs font-thin mb-4">Techlicious participates in affiliate programs, including the Amazon Services LLC Associates Program, which provide a small commission from some, but not all, of the "click-thru to buy" links contained in our articles. These click-thru links are determined after the article has been written, based on price and product availability — the commissions do not impact our choice of recommended product, nor the price you pay. When you use these links, you help support our ongoing editorial mission to provide you with the best product recommendations.</p>
			</div>
		
			<div class="md:flex w-full sm:w-1/2 lg:w-1/3 justify-end">
				<div class="flex-1 flex flex-col lg:pl-8">
						<ul class="list-reset">
							<li class="mb-4">
								<a href="#" class="no-underline hover:underline text-white">Home</a>
							</li>
							<li class="mb-4">
							<a href="#" class="no-underline hover:underline text-white">About</a>
							</li>
							<li class="mb-4">
							<a href="#" class="no-underline hover:underline text-white">Meet the team</a>
							</li>
							<li class="mb-4">
							<a href="#" class="no-underline hover:underline text-white">Contact us</a>
							</li>
							<li class="mb-4">
							<a href="#" class="no-underline hover:underline text-white">Media kit</a>
							</li>
						</ul>
					</div>
					<div class="flex-1 flex flex-col md:items-end">
							<ul class="list-reset">
								<li class="mb-4">
									<a href="#" class="no-underline hover:underline text-white">Newsletter sponsorship</a>
								</li>
								<li class="mb-4">
								<a href="#" class="no-underline hover:underline text-white">Newsletter archieve</a>
								</li>
								<li class="mb-4">
								<a href="#" class="no-underline hover:underline text-white">Terms of use</a>
								</li>
								<li class="mb-4">
								<a href="#" class="no-underline hover:underline text-white">Privacy& CookiePolicy</a>
								</li>
							
							</ul>
						</div>
			
			</div>
        </div>
	</div>
	</div>
	<div class="bg-black w-full py-4">
			<div class="container mx-auto flex justify-between text-white">
				<p class="text-xs font-thin mb-0">&copy; Techlicious LLC.</p>
				<div class="flex justify-between">
					<a href="#" class="ml-4 hover:opacity-75">
						<img src="/assets/img/facebook.svg" alt="">
					</a>
					<a href="#" class="ml-4 hover:opacity-75">
						<img src="/assets/img/linkedin-letters.svg" alt="">
					</a>
					<a href="#" class="ml-4 hover:opacity-75">
						<img src="/assets/img/twitter-logo-silhouette.svg" alt="">
					</a>
					<a href="#" class="ml-4 hover:opacity-75">
						<img src="/assets/img/youtube.svg" alt="">
					</a>
					<a href="#" class="ml-4 hover:opacity-75">
						<img src="/assets/img/pinterest.svg" alt="">
					</a>
				</div>
			</div>
	</div>
</footer>




  
  <script src="/assets/js/vendors.min.js"></script>
  <script src="/assets/js/common.min.js"></script>


</body>

</html>
