// Transition
$transitionAll: .25s all;
$transitionEase: .4s all ease;
$transitionEaseInOut: .25s all ease-in-out;

// Pallete
$white: #fff;
$black: #181818;

$blue: #00AEEF;

$grey-lighter: #F8F8F8;
$grey-light:  #9B9B9B;
$grey-nav: #878787;