<section class="author-block container mx-auto px-4 xl:px-0 py-8">
	<div class="flex justify-center py-8 flex-wrap">
		<div class="profile-info w-full text-center">
			<h1 class="text-gray-dark font-bold text-2xl md:text-40 mb-4 leading-8 md:leading-10 flex items-center mb-8 justify-center">
				Katie Teague
				<span class="profile_label uppercase text-sm text-white font-normal bg-blue-light leading-7 px-2 ml-4">Staff</span>
			</h1>
		</div>

		<div class="profile-photo mt-4">
			<a href="#">
	            <figure class="img overflow-hidden rounded-full text-center" style="width: 196px; height: 196px;">
	            	<img src="../assets/img/katie-conner.jpg" class="" alt="Katie Teague" title="Katie Teague">
	            </figure>
	        </a>
		</div>
	</div>

	<div class="bio-info flex justify-center flex-wrap flex-wrap">
		<div class="w-full md:w-3/5 mb-4 ml-auto mr-auto leading-6">
			<p>
	            Katie is an Associate Writer for CNET's How-To team, covering tons of Amazon Echo tips. She previously worked as a Web Content Specialist for a retail e-commerce site and has a background in feature writing. She is obsessed with shoes and owns more than 50 pairs!
	        </p>
		</div>

		<ul class="sharebar w-full md:w-3/5 ml-auto mr-auto mt-4">
			<li class="share-button text-blue-light mb-3">
				<a data-link="email" class='cursor-pointer'>
					<svg class="fill-current inline-block mr-px" style='width: 20px; height: 20px;'>
						<use aria-hidden="false" xlink:href="#email-icon"></use>
					</svg>
					email.com
				</a>
			</li>

			<li class="share-button text-blue-light mb-3">
				<a data-link="twitter" class='cursor-pointer'>
					<svg class="fill-current inline-block mr-px" style='width: 20px; height: 20px;'>
						<use aria-hidden="false" xlink:href="#twitter-icon"></use>
					</svg>
					Twitter
				</a>
			</li>
		</ul>
	</div>
</section>