<div class="comments-wrap bg-white pt-8 pb-10 px-2 sm:px-6">
	<h2 class="text-2xl font-bold mb-5 uppercase text-blue-light">Discussion</h2>

	<div class="comments-inner-wrap">
		<div class="first-comment">
			<div class="comment-top-part mb-5">
				<div class="img-wrap">
					<img src="" alt="">
				</div>

				<div class="text-wrap">
					<h3 class="title text-gray-dark text-lg font-bold">Title comment is here</h3>
					<p class="info text-base text-gray-light">From <a href="#" class="name text-blue-light">Name</a> | <span class="date">April 12, 2019</span>; <span class="time">12:05 pm</span></p>
				</div>

				<a href="#" class="reply-btn text-xs text-white uppercase bg-gray-lighter">Reply <i></i></a>
			</div>

			<div class="comment-text text-base text-gray-dark">
				<p>When asked if I want my login info to be remembered “for this site”,  will private browsing prevent this from happening.</p>

				<p>It also begs another question.  Is someone picking up my login and password when I agree to this query?</p>

				<p>Thanks.</p>
			</div>
		</div>

		<div class="reply-comments-block">
			<div class="reply-comment">
				<div class="comment-top-part mb-5">
					<div class="img-wrap">
						<img src="" alt="">
					</div>

					<div class="text-wrap">
						<h3 class="title text-gray-dark text-lg font-bold">Title comment is here</h3>
						<p class="info text-base text-gray-light">From <a href="#" class="name text-blue-light">Name</a> | <span class="date">April 12, 2019</span>; <span class="time">12:05 pm</span></p>
					</div>

					<a href="#" class="reply-btn text-xs text-white uppercase bg-gray-lighter">Reply <i></i></a>
				</div>

				<div class="comment-text text-base text-gray-dark">
					<p>When asked if I want my login info to be remembered “for this site”,  will private browsing prevent this from happening.</p>

					<p>It also begs another question.  Is someone picking up my login and password when I agree to this query?</p>

					<p>Thanks.</p>
				</div>
			</div>

			<div class="reply-comment">
				<div class="comment-top-part mb-5">
					<div class="img-wrap">
						<img src="" alt="">
					</div>

					<div class="text-wrap">
						<h3 class="title text-gray-dark text-lg font-bold">Title comment is here</h3>
						<p class="info text-base text-gray-light">From <a href="#" class="name text-blue-light">Name</a> | <span class="date">April 12, 2019</span>; <span class="time">12:05 pm</span></p>
					</div>

					<!-- <a href="#" class="reply-btn text-xs text-white uppercase bg-gray-lighter">Reply <i></i></a> -->
				</div>

				<div class="comment-text text-base text-gray-dark">
					<p>When asked if I want my login info to be remembered “for this site”,  will private browsing prevent this from happening.</p>

					<p>It also begs another question.  Is someone picking up my login and password when I agree to this query?</p>

					<p>Thanks.</p>
				</div>
			</div>
		</div>
	</div>
</div>