
  <footer class="bg-gray-dark">
    <div class="container mx-auto px-4 xl:px-0">
      <div class="top-footer flex flex-wrap md:flex-no-wrap pt-10 md:pb-10 lg:pb-16">

        <div class="w-full md:w-1/2 lg:w-3/5 order-2 md:order-1 mb-12 md:mb-0">
          <a href="/frontend/index.html" class="text-logo w-64 block mb-6 md:mb-10">
            <span class="sr-only">Techlicious logo, the link leads to the main page of the site</span>
            <img src="../assets/img/top-logo.png" alt="Techlicious logo">
          </a>

          <p class="text-white leading-tight leading-snug font-light text-13">Techlicious participates in affiliate programs, including the Amazon Services LLC Associates Program, which provide a small commission from some, but not all, of the "click-thru to buy" links contained in our articles. These click-thru links are determined after the article has been written, based on price and product availability — the commissions do not impact our choice of recommended product, nor the price you pay. When you use these links, you help support our ongoing editorial mission to provide you with the best product recommendations.</p>
        </div>

        <div class="w-full md:w-1/2 lg:w-2/5 flex flex-wrap md:flex-no-wrap justify-start md:justify-between md:pl-12 lg:pl-24 text-white order-1 md:order-2 mb-8 md:mb-0">
          <ul class="w-full md:w-auto">
            <li class="mb-5"><a href="#" class="text-base hover:underline">Home</a></li>
            <li class="mb-5"><a href="#" class="text-base hover:underline">About</a></li>
            <li class="mb-5"><a href="#" class="text-base hover:underline">Meet the team</a></li>
            <li class="mb-5"><a href="#" class="text-base hover:underline">Contact us</a></li>
            <li class="mb-5"><a href="#" class="text-base hover:underline">Media kit</a></li>
          </ul>

          <ul class="w-full md:w-auto">
            <li class="mb-5"><a href="#" class="text-base hover:underline">Newsletter sponsorship</a></li>
            <li class="mb-5"><a href="#" class="text-base hover:underline">Newsletter archieve </a></li>
            <li class="mb-5"><a href="#" class="text-base hover:underline">Terms of use</a></li>
            <li class="mb-5"><a href="#" class="text-base hover:underline">Privacy& CookiePolicy</a></li>
          </ul>
        </div>

      </div>
    </div>

    <p class="space w-full h-px bg-white bg-opacity-50"></p>

    <div class="container mx-auto px-4 xl:px-0">
      <div class="bottom-footer flex items-center justify-between py-5">
        <p class="copyright flex items-center text-white text-sm leading-tight">
          <svg class="fill-current inline-block mr-px" style='width: 9px; height: 9px;'>
            <use xlink:href="#copyright-icon"></use>
          </svg>
          Techlicious LLC.
        </p>

        <ul class="social-links list-none flex items-baseline text-blue-light w-40 justify-between">
          <li>
            <a href="#">
              <svg class="fill-current" style="width: 8px; height: 16px;">
                <use xlink:href="#facebook-icon"></use>
              </svg>    
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="fill-current" style="width: 16px; height: 15px;">
                <use xlink:href="#linkedin-icon"></use>
              </svg>    
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="fill-current" style="width: 15px; height: 13px;">
                <use xlink:href="#twitter-icon"></use>
              </svg>    
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="fill-current" style="width: 19px; height: 13px;">
                <use xlink:href="#youtube-icon"></use>
              </svg>    
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="fill-current" style="width: 13px; height: 15px;">
                <use xlink:href="#pinterest-icon"></use>
              </svg>    
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>