  <section class="ad-block text-center py-3 px-4 xl:px-0  hidden md:block">
    <img src="../assets/img/top-ad.jpeg" alt="advertising">
  </section>
  <header class="bg-gray-dark py-3 md:py-2">

    <div class="container mx-auto px-4 xl:px-0">
      <div class="flex items-center justify-between md:flex-wrap lg:flex-no-wrap">
        <a href="index.html" class="text-logo w-9 md:w-full lg:w-56 xl:w-64 md:text-center lg:text-left">
          <h1>
            <span class="sr-only">Techlicious logo, the link leads to the main page of the site</span>
            <img src="../assets/img/top-logo.png" alt="Techlicious logo" class="md:w-56 lg:w-full">
            </h1>
        </a>

        {% include '_navigation.html' %}
      </div>
    </div>

  </header>
