  <section class="ad-block text-center py-3 px-0  hidden md:block">
    <img src="../assets/img/top-ad.jpeg" alt="advertising">
  </section>
  <header class="bg-gray-dark py-3 sticky">

    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between flex-no-wrap">
        <a href="index.html" class="text-logo w-64 flex-shrink-0">
          <h1>
            <span class="sr-only">Techlicious logo, the link leads to the main page of the site</span>
            <img src="../assets/img/top-logo.png" alt="Techlicious logo" class="w-full">
            </h1>
        </a>

        {% include '_navigation.html' %}
      </div>
    </div>

  </header>
