<nav class="desktop">
    <ul>
        <li>
            <div>
                <a>News</a>
            </div>
            <div>
                <div>
                    <div>
                        <h3>News</h3>
                    </div>
                    <ul>
                        <li>
                            <span>Category 1</span>
                            <ul>
                                <li>
                                    <a href="https://google.com">First item</a>
                                </li>
                                <li>
                                    <a href="#">Second item</a>
                                </li>
                                <li>
                                    <a href="#">Third item</a>
                                </li>
                                <li>
                                    <a href="#">Fourth item</a>
                                </li>
                                <li>
                                    <a href="#">Fifth item</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>Category 2</span>
                            <ul>
                                <li>
                                    <a href="https://google.com">First item</a>
                                </li>
                                <li>
                                    <a href="#">Second item</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <span>Category 3</span>
                            <ul>
                                <li>
                                    <a href="https://google.com">First item</a>
                                </li>
                                <li>
                                    <a href="#">Second item</a>
                                </li>
                                <li>
                                    <a href="#">Third item</a>
                                </li>
                                <li>
                                    <a href="#">Fourth item</a>
                                </li>
                                <li>
                                    <a href="#">Fifth item</a>
                                </li>
                                <li>
                                    <a href="#">6 item</a>
                                </li>
                                <li>
                                    <a href="#">7 item</a>
                                </li>
                                <li>
                                    <a href="#">8 item</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>Category 4</span>
                            <ul>
                                <li>
                                    <a href="https://google.com">First item</a>
                                </li>
                                <li>
                                    <a href="#">Second item</a>
                                </li>
                                <li>
                                    <a href="#">Third item</a>
                                </li>
                                <li>
                                    <a href="#">Fourth item</a>
                                </li>
                                <li>
                                    <a href="#">Fifth item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div>
                        <a href="#">See All</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div>
                <a>Reviews</a>
            </div>
            <div>
                <div>
                    <div>
                        <h3>Reviews</h3>
                    </div>
                    <ul>
                        <li>
                            <a href="#">21</a>
                        </li>
                        <li>
                            <a href="#">22</a>
                        </li>
                        <li>
                            <a href="#">23</a>
                        </li>
                        <li>
                            <a href="#">24</a>
                        </li>
                        <li>
                            <a href="#">25</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div>
                <a href="#">Top pics</a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">How-to</a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">Deals</a>
            </div>
        </li>
        <li>
            <div>
                <a href="#">Browse topics</a>
            </div>
        </li>



        <li class="nav-search">
            <div>
                <a>
                    Search
                    <img src="../assets/img/search-icon.svg" alt="Search">
                    <img src="../assets/img/search-icon_close.svg" alt="Search">
                </a>
            </div>
            <div>
                <div>
                    <form action="/action_page.php" method="get">

                    </form>
                    
                    <form action="/action_page.php" method="get" id="search-form">
                        <input type="text" placeholder="Search" id="search-query" name="search-input">
                        <button type="submit" form="search-form" value="Submit">
                            <img src="../assets/img/search-icon-white.svg" alt="Search">
                        </button>
                    </form>
                </div>
            </div>
        </li>

        
    </ul>
</nav>


<!-- =================================== HAMBURGER ========================================================= -->
<nav class="mobile">
    <button>
        <img src="../assets/img/hamburger-icon.svg" alt="Menu">
        <img src="../assets/img/search-icon_close.svg" alt="Close">
    </button>
    <ul>
        fdhgd
        
        
        <!--
            <li class="nav-search">
                <div>
                    <a>
                        Search7
                        <img src="../assets/img/search-icon.svg" alt="Search">
                        <img src="../assets/img/search-icon_close.svg" alt="Search">
                    </a>
                </div>
                <div>
                    <div>
                        <form action="/action_page.php" method="get">
    
                        </form>
                        
                        <form action="/action_page.php" method="get" id="search-form">
                            <input type="text" placeholder="Search" id="search-query" name="search-input">
                            <button type="submit" form="search-form" value="Submit">
                                <img src="../assets/img/search-icon-white.svg" alt="Search">
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        -->

        
    </ul>
</nav>


<!-- <button class="subscribe h-45 leading-10 border border-solid border-blue-light text-center w-48 xl:w-56 max-w-full text-blue-light text-base uppercase hidden md:inline-block">Subscribe</button>
     -->                              

<!-- hamburger-menu -->
<!--
<div class="flex items-center justify-end h-full md:hidden">
  <button class="search-button mr-6 inline-block">
    <svg class="fill-current" style="width: 18px; height:18px;">
      <use xlink:href="#search-icon"></use> 
    </svg>
  </button>
  <div class="hamburger-menu">
    <span class="pointer-events-none"></span>
  </div>

  <div class="mobile-menu" id="overlay">

    <nav class="block relative text-center mt-16">
      <ul>

        <li class="relative block h-full mb-6">
          <a href="/frontend/article.html" class="active:text-blue-light hover:text-blue-light text-lg text-white">
            News
          </a>

          <ul class="mobile-menu_linkList">
            <li>
                <a class="sub-menu-list_link" href="/awards/">Award Winners</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-5g-phones-for-2021/">Best 5G Phone</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/how-to/best-antivirus/">Best Antivirus</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/personal-finance/credit-cards/best-balance-transfer-credit-card/">Best Balance Transfer Credit Card</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/personal-finance/credit-cards/best-cash-back-credit-cards/">Best Cash-Back Credit Cards</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/kitchen-and-household/best-cordless-vacuum/">Best Cordless Vacuum</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/personal-finance/credit-cards/best-credit-card/">Best Credit Card</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/fitness/best-elliptical/">Best Elliptical</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/yard-and-outdoors/best-fire-pit/">Best Fire Pit</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/yard-and-outdoors/best-grill/">Best Grill</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-headphones/">Best Headphones</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-laptop/">Best Laptop</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-laptop-for-college/">Best Laptop For College</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/fitness/best-massage-gun/">Best Massage Gun</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/sleep/best-mattress/">Best Mattress</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/nutrition/best-meal-kit-deals-and-sign-up-offers-2021/">Best Meal Kit Delivery Service</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/internet/best-mesh-wi-fi-router/">Best Mesh Wi-Fi</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-noise-canceling-headphones-for-2021-sony-bose-more/">Best Noise-Canceling Headphones</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/kitchen-and-household/best-office-chair/">Best Office Chair</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/personal-care/best-online-glasses/">Best Online Glasses</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/fitness/best-peloton-alternative/">Best Peloton Alternative</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-printer/">Best Printer</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/internet/best-wi-fi-routers/">Best Router</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/fitness/best-rowing-machine/">Best Rowing Machine</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/kitchen-and-household/best-standing-desk/">Best Standing Desk</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/fitness/best-treadmill/">Best Treadmill</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-tv/">Best TV</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-live-tv-streaming/">Best TV Streaming Service</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-vpn/">Best VPN</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-web-hosting/">Best Web Hosting</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/sleep/best-weighted-blanket/">Best Weighted Blanket</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-wireless-earbuds/">Best Wireless Earbuds</a>
            </li>
          </ul>
        </li>

        <li class="relative block h-full mb-6">
          <a href="/frontend/reviews.html" class="text-lg text-white hover:text-blue-light">
            Reviews
          </a>

          <ul class="mobile-menu_linkList">
            <li>
                <a class="sub-menu-list_link" href="/awards/">Award Winners</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-5g-phones-for-2021/">Best 5G Phone</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/how-to/best-antivirus/">Best Antivirus</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/personal-finance/credit-cards/best-balance-transfer-credit-card/">Best Balance Transfer Credit Card</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/personal-finance/credit-cards/best-cash-back-credit-cards/">Best Cash-Back Credit Cards</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/kitchen-and-household/best-cordless-vacuum/">Best Cordless Vacuum</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/personal-finance/credit-cards/best-credit-card/">Best Credit Card</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/fitness/best-elliptical/">Best Elliptical</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/yard-and-outdoors/best-fire-pit/">Best Fire Pit</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/yard-and-outdoors/best-grill/">Best Grill</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-headphones/">Best Headphones</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-laptop/">Best Laptop</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-laptop-for-college/">Best Laptop For College</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/fitness/best-massage-gun/">Best Massage Gun</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/sleep/best-mattress/">Best Mattress</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/nutrition/best-meal-kit-deals-and-sign-up-offers-2021/">Best Meal Kit Delivery Service</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/internet/best-mesh-wi-fi-router/">Best Mesh Wi-Fi</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-noise-canceling-headphones-for-2021-sony-bose-more/">Best Noise-Canceling Headphones</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/kitchen-and-household/best-office-chair/">Best Office Chair</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/personal-care/best-online-glasses/">Best Online Glasses</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/fitness/best-peloton-alternative/">Best Peloton Alternative</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-printer/">Best Printer</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/internet/best-wi-fi-routers/">Best Router</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/fitness/best-rowing-machine/">Best Rowing Machine</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/home/kitchen-and-household/best-standing-desk/">Best Standing Desk</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/fitness/best-treadmill/">Best Treadmill</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-tv/">Best TV</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-live-tv-streaming/">Best TV Streaming Service</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-vpn/">Best VPN</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-web-hosting/">Best Web Hosting</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/health/sleep/best-weighted-blanket/">Best Weighted Blanket</a>
            </li>
            
            <li>
                <a class="sub-menu-list_link" href="/news/best-wireless-earbuds/">Best Wireless Earbuds</a>
            </li>
          </ul>
        </li>

        <li class="relative block h-full mb-6">
          <a href="#" class="text-lg text-white hover:text-blue-light active:text-blue-light">
            Top picks
          </a>
        </li>

        <li class="relative block h-full mb-6">
          <a href="#" class=" text-lg text-white hover:text-blue-light active:text-blue-light">
            How-to
          </a>
        </li>

        <li class="relative block h-full mb-6">
          <a href="#" class=" text-lg text-white hover:text-blue-light active:text-blue-light">
            Deals
          </a>
        </li> 

        <li class="relative block h-full mb-6">
          <a href="#" class=" text-lg text-white hover:text-blue-light active:text-blue-light">
            Browse topics
          </a>
        </li>
      </ul>

      <button class="subscribe inline-block h-45 leading-10 border border-solid border-blue-light text-center w-48 max-w-full text-blue-light text-base uppercase mt-8">Subscribe</button>

      <ul class="mt-6 mx-auto social-links list-none flex items-baseline text-blue-light w-40 justify-between">
        <li>
          <a href="#">
            <svg class="fill-current" style="width: 8px; height: 16px;">
              <use xlink:href="#facebook-icon"></use>
            </svg>    
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="fill-current" style="width: 16px; height: 15px;">
              <use xlink:href="#linkedin-icon"></use>
            </svg>    
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="fill-current" style="width: 15px; height: 13px;">
              <use xlink:href="#twitter-icon"></use>
            </svg>    
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="fill-current" style="width: 19px; height: 13px;">
              <use xlink:href="#youtube-icon"></use>
            </svg>    
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="fill-current" style="width: 13px; height: 15px;">
              <use xlink:href="#pinterest-icon"></use>
            </svg>    
          </a>
        </li>
      </ul>
    </nav>

  </div>

</div>
-->
