
  <div class="pagination text-center">

    <div class="inline-flex items-center">

      <a href="#" class="text-lg uppercase text-black prev relative pr-2 font-bold">prev</a>

      <div class="inline-flex">

        <span class="is-active text-blue-light px-1 md:px-2 font-bold">1</span>

        <a href="#" class="text-lg text-black px-1 md:px-2 font-bold">2</a>

        <a href="#" class="text-lg text-black px-1 md:px-2 hidden md:inline-block font-bold">3</a>

        <span class="text-lg text-black px-1 md:px-2 font-bold">...</span>

        <a href="#" class="text-lg text-black px-1 md:px-2 hidden md:inline-block font-bold">10</a>

        <a href="#" class="text-lg text-black px-1 md:px-2 font-bold">11</a>
 
      </div>

      <a href="#" class="text-lg uppercase text-black next relative pl-2 font-bold">next</a>

    </div>

  </div>