<section class="search-form-wrap">
	<form role="search" method="get" id="searchform" action="">
		<label class="sr-only" for="s">Search: </label>
		<input type="text" value="" name="s" id="s" placeholder="Search..">
		<input type="submit" id="searchsubmit" value="Search">
	</form>

	<button class="close-btn">
		<svg class="fill-current" style="width: 47px; height:47px;">
        	<use xlink:href="#close-icon"></use>
        </svg>
	</button>	
</section>