
  <div class="">

    <div class="bg-mx-red pb-6 pt-6 md:pb-12 px-4 md:px-8 mb-8 shadow-lg rounded-lg">

      <div class="">

        <div class="border-b border-mx-grey pb-2 mb-4 pointer-events-none">
          <div class="flex items-center">
            <span class="text-white w-6 h-6 mr-4">
              <svg class="fill-current w-full h-full">
                <use xlink:href="#search-svg"></use>
              </svg>
            </span>
            <span class="text-grey-lighter text-xl font-light opacity-50">Search</span>
          </div>
        </div>

        <form class="h-full">

          <div class="block flex-col relative rounded-lg h-10">

            <input class="w-full text-mx-dark absolute pin-l rounded-lg h-full pl-3 pr-24" type="email">

            <button class="px-4 absolute pin-r h-full bg-mx-dark rounded-l-none rounded-r-lg overflow-hidden text-white font-bold">

              <span>Search</span>

            </button>

          </div>

        </form>

      </div>

    </div>

    <div class="bg-white shadow-lg rounded-lg py-4 px-8 mb-2">

      <div class="flex items-center">
        <span class="text-mx-red w-6 h-6 mr-4">
          <svg class="fill-current w-full h-full">
            <use xlink:href="#folder-svg"></use>
          </svg>
        </span>

        <span class="text-mx-dark text-xl">Categories</span>
      </div>

    </div>

    <div class="bg-white rounded-lg py-4 px-8">
      <ul>

        <li>
          <a href="#" class="text-mx-dark hover:text-mx-grey text-sm font-light pb-1 block border-b mb-3">Tech</a>
        </li>

        <li>
          <a href="#" class="text-mx-dark hover:text-mx-grey text-sm font-light pb-1 block border-b mb-3">Gallary</a>
        </li>

        <li>
          <a href="#" class="text-mx-dark hover:text-mx-grey text-sm font-light pb-1 block border-b mb-3">UI Design</a>
        </li>

        <li>
          <a href="#" class="text-mx-dark hover:text-mx-grey text-sm font-light pb-1 block border-b mb-3">Shop</a>
        </li>

        <li>
          <a href="#" class="text-mx-dark hover:text-mx-grey text-sm font-light pb-1 block border-b mb-3">Wordpress</a>
        </li>

        <li>
          <a href="#" class="text-mx-dark hover:text-mx-grey text-sm font-light pb-1 block border-b mb-3">Cultur</a>
        </li>

      </ul>
    </div>

  </div>